body{
    margin: 0;
    background-color: rgb(72, 61, 63);
    color: white;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(224, 224, 226);
    font-size: 1.3em;
    height: 8vh;
    clear: both;
    color: black;
}

nav{
    margin: auto; 
}

nav > ul{
    margin: auto;
    list-style-type: none;
}

.navLink{
    float: left;
    padding-left: .5em;
    padding-right: .5em;
}

.navLink > a{
    text-decoration: none;
    color: black;
}

.navLink > a:hover{
    color: goldenrod;
}

#body{
    margin-top: 9vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

h1{
    text-align: center;
}

p{
    text-indent: 40px; /*Found at: https://www.w3schools.com/cssref/pr_text_text-indent.asp */
    font-size: 1.3em;
}

#photos{
    color: goldenrod;
}

#grid{
    display: grid;
    grid-template-areas: "image1 image2 image3";
    margin-left: 5vw;
    margin-right: 5vw;
}

img{
    height: 300px;
    width: 300px;
}

#image1{
    grid-area: image1;
}

#image2{
    grid-area: image2;
}

#image3{
    grid-area: image3;
}

#active{
    color: blue;
}

#active:hover{
    color: goldenrod;
}

@media only screen and (max-width: 600px){
    #header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(224, 224, 226);
        font-size: 1.3em;
        height: 19vh;
        clear: both;
        color: black;
    }
    
    nav{
        margin: auto; 
    }
    
    nav > ul{
        display: flex;
        flex-direction: column;
        margin: auto;
        list-style-type: none;
    }
    
    .navLink{
        padding-left: .5em;
        padding-right: .5em;
    }
    
    .navLink > a{
        text-decoration: none;
        color: black;
    }
    
    .navLink > a:hover{
        color: goldenrod;
    }

    #body{
        margin-top: 21vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #grid{
        display: grid;
        grid-template-areas: "image1"
                            "image2"
                            "image3";
    }

    img{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 2vh;
    }
}